:root {
  --primaryColor: #009688;
  --primaryHover: rgba(2, 136, 123);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --BgColor: rgb(0, 0, 0);
  --formColor: #032925;
  --projectCardColor: #072340;
  --textColor: black;
  --headerHeight: 3rem;
  --iconColor: #ffff;
}

.home {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);


  .img-div {
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 50%;
    }
  }
  .secHome {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    gap: 0.5rem;
    width: 100%;
    h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 30px;
      font-weight: bold;
      color: var(--iconColor);

      .h-3 {
        color: var(--primaryColor);
        font-size: 25px;
        font-weight: 700;
        padding-top: 0.5rem;
      }
    }
    h5 {
      color: var(--iconColor);
    }
  }
  
}

@media screen and (max-width: 768px) {
  .home {
    .img-div{
      height: 500px;
    }
    .secHome {
      width: 100%;
      h3 {
        color: var(--iconColor);
        z-index: -1;
        .h-3 {
          color: var(--textColor);
          z-index: -1;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .home {
    // height: 0;
    visibility: hidden;
    width: 425px;
    padding-left: 0;
    
    .img-div {
      height: 500px;
      width: 100%;
     
      img {
        height: 100%;
        width: 100%;
      }
    }
    .secHome {
      // visibility: hidden;
      padding-top: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      
      h3 {
        font-size: 20px;
        .h-3 {
          font: size 20px;
        }
      }
      h5 {
        font-size: 20px;
        width: 100%;
      }
    }
  }
}
