// :root {
  $primaryColor: #009688;
  $primaryHover: rgba(2, 136, 123);
  $secondaryColor: rgb(150, 162, 188);
  $paragraphColor: rgb(127, 127, 175);
  $bgColor: rgb(0, 0, 0);
  $formColor: hsl(0deg 0% 87.55%);
  $projectCardColor: #072340;
  $textColor: black;
  $headerHeight: 3rem;
  $iconColor: #ffff;
// }

.navbar {
  background: $primaryColor;
  display: flex;
  // position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 1px 0px 10px 1px ;
 
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    
    img {
      
      height: 60px;
      width: 100px;
      cursor: pointer;
    }
    
    .navLists {
      display: flex;
      align-items: center;
      gap: 2rem;
      list-style: none;
      justify-content: flex-end;
      
      .nav-close-btn {
        visibility: hidden;
      }
      
      .navItems {
        text-decoration: none;
        color: $iconColor;
        font-size: 20px;
        font-weight: 400;
        
        .icon {
          color: $iconColor;
        }
        
        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color:$iconColor;
          gap: 0.5rem;
          
          &:hover {
            color: $iconColor;
          }
        }
      }
    }
    .nav-btn {
      font-size: 20px;
      right: 1rem;
      padding: 0.2rem 0.8rem;

      .icon{
        margin-top: .5rem;
      }
      &:hover {
        color: $primaryColor;
      }
    }
  }
  
  .icons {
    gap: 0.5rem;
    font-size: 25px;
    border: 2px solid $primaryColor;
    margin-right: 4rem;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: $formColor;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    h3 {
      font-size: 18px;
      text-decoration: none;
      color: $iconColor;
      
      &:hover {
        color: $iconColor;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    
    .navLists {
      background: $primaryColor;
      position: absolute;
      height: max-content;
      width: max-content;
      border-radius: 1rem;
      padding: 1rem;
      top: -100rem;
      left: 80%;
      transform: translate(-30%);
      display: flex;
      flex-direction: column;
      z-index: 100;
      
      .nav-close-btn {
        position: absolute;
        margin-left: 11rem;
        margin-bottom: 18rem;
        visibility: visible;
      }
      
      .navItems {
        text-decoration: none;
        color: $textColor;
        font-size: 20px;
        font-weight: 400;
        
        .icon {
          color: $iconColor;
        }
        
        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: $textColor;
          gap: 0.5rem;
          
          &:hover {
            color: $iconColor;
          }
        }
      }
    }
    
    .dropdown {
      top: 6rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    display: flex;
    justify-content: center;
    
    img {
      padding-left: 0rem;
    }
    
    .navLists {
      background: #009688;
      position: absolute;
      height: max-content;
      width: max-content;
      border-radius: 1rem;
      top: -100rem;
      left: 70%;
      transform: translate(-30%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      z-index: 100;
      
      .nav-close-btn {
        position: absolute;
        margin-left: 11rem;
        margin-bottom: 18rem;
        visibility: visible;
      }
      
      .navItems {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-decoration: none;
        color: $textColor;
        font-size: 20px;
        font-weight: 400;
        
        .icon {
          color: $iconColor;
        }
        
        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: $textColor;
          gap: 0.5rem;
          
          &:hover {
            color: $iconColor;
          }
        }
      }
    }
    
    .dropdown {
      top: 6rem;
    }
    .iconss {
      border: 1px solid $iconColor;
      .icon {
      }
    }
  }
}
