$primaryColor: #009688;
$primaryHover: rgba(2, 136, 123);
$secondaryColor: rgb(150, 162, 188);
$paragraphColor: rgb(127, 127, 175);
$bgColor: rgb(0, 0, 0);
$formColor: hsl(151.62deg 7.63% 84.82%);
$projectCardColor: #072340;
$textColor: black;
$headerHeight: 3rem;
$iconColor: #ffff;
$btnBackground: #df912c;
$btnHoverColor: #714c1c;

.bus-ticket {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem;

  .passenger-div {
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 700px;
    height: max-content;
    h4 {
      margin-bottom: 1rem;
      .underline {
        content: "";
        left: 0;
        width: 20%;
        height: 3px;
        top: 5px;
        position: relative;
        border-radius: 10px;
        background: $primaryColor;
        overflow: hidden;

        .underline,
        span {
          top: 0;
          left: 10px;
          width: 10px;
          border-radius: 10px;
          height: 100%;
          position: absolute;
          background-color: $iconColor;
          animation: moveLine 2s linear infinite;

          @keyframes moveLine {
            0% {
              left: -20px;
            }

            100% {
              left: 100%;
            }
          }
        }
      }
    }
    .name-icon-div {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;
      .icon {
        height: 50px;
        width: 50px;
        color: $primaryColor;
      }

      .full-name {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        label {
          color: grey;
          margin-left: 0.5rem;
        }
        input {
          background-color: #eef0f1;
          border: none;
          height: 40px;
          width: 300px;
          border-radius: 10px;
          padding-left: 1rem;
          :focus {
            border: 1px solid blue;
          }
        }
      }
      .age {
        display: flex;
        flex-direction: column;

        label {
          color: grey;
          margin-left: 0.5rem;
        }
        input {
          background-color: #eef0f1;
          border: none;
          height: 40px;
          width: 200px;
          border-radius: 10px;
          padding-left: 1rem;
        }
      }
    }
    .contact-details {
      display: flex;
      gap: 2rem;
      margin-bottom: 1rem;
      .bording-point {
        display: flex;
        flex-direction: column;
        label {
          color: grey;
          margin-left: 0.5rem;
        }
        select {
          height: 40px;
          width: 300px;
          outline: none;
          border: none;
          background-color: #eef0f1;
          padding-left: 1rem;
        }
      }
      .contact-name {
        display: flex;
        flex-direction: column;
        label {
          margin-left: 0.5rem;
          color: grey;
        }

        input {
          background-color: #eef0f1;
          border: none;
          height: 40px;
          width: 300px;
          border-radius: 10px;
          padding-left: 1rem;
        }
      }
    }
    .last-div {
      display: flex;
      gap: 2rem;
      .contact {
        display: flex;
        flex-direction: column;

        label {
          color: grey;
          margin-left: 0.5rem;
        }
        input {
          background-color: #eef0f1;
          border: none;
          height: 40px;
          width: 300px;
          border-radius: 10px;
          padding-left: 1rem;
        }
      }
    }
    .btn-div {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;

      button {
        color: white;
        background-color: $primaryColor;
        border: none;
        padding: 0.8rem 2rem;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
      }
    }
  }
  .ticket-div {
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    width: 650px;
    border-radius: 10px;

    h4 {
      margin-bottom: 0.5rem;
      .underline {
        content: "";
        left: 0;
        width: 20%;
        height: 3px;
        top: 5px;
        position: relative;
        border-radius: 10px;
        background: $primaryColor;
        overflow: hidden;

        .underline,
        span {
          top: 0;
          left: 10px;
          width: 10px;
          border-radius: 10px;
          height: 100%;
          position: absolute;
          background-color: $iconColor;
          animation: moveLine 2s linear infinite;

          @keyframes moveLine {
            0% {
              left: -20px;
            }

            100% {
              left: 100%;
            }
          }
        }
      }
    }
    h2 {
      margin-bottom: 0.5rem;
    }
    .date-div {
      display: flex;
      justify-content: space-between;
    }
    .img-division {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      img {
        width: 450px;
        height: 40px;
      }
    }

    .location-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0rem 4rem;
      color: grey;
      font-size: 12px;
      margin-bottom: 3rem;
    }
    .bill-details {
      margin-bottom: 0.5rem;
      .bus-type {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0.5rem 5rem;

        .p {
          color: grey;
          font-size: 14px;
        }
      }
    }
    .h-4 {
      margin-top: 2rem;
    }
    .seat-num {
      justify-content: flex-start;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      .seat-det{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
.icon {
        color: $primaryColor;
        height: 50px;
        width: 50px;
      }
    }
      }

      

    .price-div {
      margin-top: 1rem;
      .price {
        font-weight: bold;
        .underline {
          content: "";
          left: 0;
          width: 20%;
          height: 3px;
          top: 5px;
          position: relative;
          border-radius: 10px;
          background: $primaryColor;
          overflow: hidden;

          .underline,
          span {
            top: 0;
            left: 10px;
            width: 10px;
            border-radius: 10px;
            height: 100%;
            position: absolute;
            background-color: $iconColor;
            animation: moveLine 2s linear infinite;

            @keyframes moveLine {
              0% {
                left: -20px;
              }

              100% {
                left: 100%;
              }
            }
          }
        }
      }
      .last {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        font-weight: 400;
        background-color: rgb(152, 223, 245);
        padding: 1rem;
        border-radius: 10px;
      }
    }
  }
}

//css for error message
.error-message{
  margin-top: .5rem;
}
